In [227]:
import numpy as np
import pandas as pd

In [228]:
df=pd.read_csv("mpg.csv")
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52,2130,24.6,82,2,vw pickup
395,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage
396,28.0,4,120.0,79,2625,18.6,82,1,ford ranger
397,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10

In [229]:
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [230]:
#1) df'in içindeki sütunların birbirleriyle olan korelasyonlarına(ilişkilerine) bakın.

In [231]:
df.corr()

C:\Users\Grundig\AppData\Local\Temp\ipykernel_14448\1134722465.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()

,mpg,cylinders,displacement,weight,acceleration,model_year,origin
mpg,1.000000,-0.775396,-0.804203,-0.831741,0.420289,0.579267,0.563450
cylinders,-0.775396,1.000000,0.950721,0.896017,-0.505419,-0.348746,-0.562543
displacement,-0.804203,0.950721,1.000000,0.932824,-0.543684,-0.370164,-0.609409
weight,-0.831741,0.896017,0.932824,1.000000,-0.417457,-0.306564,-0.581024
acceleration,0.420289,-0.505419,-0.543684,-0.417457,1.000000,0.288137,0.205873
model_year,0.579267,-0.348746,-0.370164,-0.306564,0.288137,1.000000,0.180662
origin,0.563450,-0.562543,-0.609409,-0.581024,0.205873,0.180662,1.000000

In [232]:
#2) mpg sütunu ile diğer sütunların arasındaki korelasyonları özel olarak inceleyin.(Bunu göstermedik ama df.corr() çağırdıktan sonra aynı normal df'lerde olduğu gibi istediğiniz sütunu çağırabiliyorsunuz.)

In [233]:
df.corr()["mpg"]

C:\Users\Grundig\AppData\Local\Temp\ipykernel_14448\2996792709.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()["mpg"]

mpg             1.000000
cylinders      -0.775396
displacement   -0.804203
weight         -0.831741
acceleration    0.420289
model_year      0.579267
origin          0.563450
Name: mpg, dtype: float64

In [234]:
#3) cylinders sütununda hangi unique değerler olduğuna liste halinde bakın.

In [235]:
list(df["cylinders"].unique())

[8, 4, 6, 3, 5]

In [236]:
#4) cylinders sütunundaki unique değerlerin her birinden kaçar adet olduğuna bakın.

In [237]:
df["cylinders"].value_counts()

4    204
8    103
6     84
3      4
5      3
Name: cylinders, dtype: int64

In [238]:
#5) Arabanın modeli 75-80 yılları arasındaki arabaların hepsini getirin.(75 ve 80 dahil)

In [239]:
df[(df["model_year"]>=75) & (df["model_year"]<=80)]

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
152,19.0,6,225.0,95,3264,16.0,75,1,plymouth valiant custom
153,18.0,6,250.0,105,3459,16.0,75,1,chevrolet nova
154,15.0,6,250.0,72,3432,21.0,75,1,mercury monarch
155,15.0,6,250.0,72,3158,19.5,75,1,ford maverick
156,16.0,8,400.0,170,4668,11.5,75,1,pontiac catalina
...,...,...,...,...,...,...,...,...,...
333,32.7,6,168.0,132,2910,11.4,80,3,datsun 280-zx
334,23.7,3,70.0,100,2420,12.5,80,3,mazda rx-7 gs
335,35.0,4,122.0,88,2500,15.1,80,2,triumph tr7 coupe
336,23.6,4,140.0,?,2905,14.3,80,1,ford mustang cobra
337,32.4,4,107.0,72,2290,17.0,80,3,honda accord

In [240]:
#6) horsepower'ı 155-180 arasındaki arabaların hepsini getirin.(155 dahil, 180 dahil değil)(Bu sorguyu yapabilmeniz için horsepower sütununu object durumdan float duruma getirmeniz gerekiyor.)

In [241]:
df["horsepower"].replace("?", np.nan,inplace=True)

In [242]:
df["horsepower"]=df["horsepower"].astype(float)

In [243]:
df[df["horsepower"].between(155,180,inclusive="left")]

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
1,15.0,8,350.0,165.0,3693,11.5,70,1,buick skylark 320
10,15.0,8,383.0,170.0,3563,10.0,70,1,dodge challenger se
11,14.0,8,340.0,160.0,3609,8.0,70,1,plymouth 'cuda 340
38,14.0,8,350.0,165.0,4209,12.0,71,1,chevrolet impala
39,14.0,8,400.0,175.0,4464,11.5,71,1,pontiac catalina brougham
43,13.0,8,400.0,170.0,4746,12.0,71,1,ford country squire (sw)
44,13.0,8,400.0,175.0,5140,12.0,71,1,pontiac safari (sw)
62,13.0,8,350.0,165.0,4274,12.0,72,1,chevrolet impala
63,14.0,8,400.0,175.0,4385,12.0,72,1,pontiac catalina
68,13.0,8,350.0,155.0,4502,13.5,72,1,buick lesabre custom
69,12.0,8,350.0,160.0,4456,13.5,72,1,oldsmobile delta 88 royale
85,13.0,8,350.0,175.0,4100,13.0,73,1,buick century 350
92,13.0,8,351.0,158.0,4363,13.0,73,1,ford ltd
96,13.0,8,360.0,175.0,3821,11.0,73,1,amc ambassador brougham
104,12.0,8,400.0,167.0,4906,12.5,73,1,ford country
105,13.0,8,360.0,170.0,4654,13.0,73,1,plymouth custom suburb
156,16.0,8,400.0,170.0,4668,11.5,75,1,pontiac catalina
230,15.5,8,350.0,170.0,4165,11.4,77,1,chevrolet monte carlo landau
263,17.7,6,231.0,165.0,3445,13.4,78,1,buick regal sport coupe (turbo)
289,16.9,8,350.0,155.0,4360,14.9,79,1,buick estate wagon (sw)

In [244]:
#7) Elinizdeki df'i horsepower'a göre büyükten küçüğe sıralayın ardından df'in indexlerini sıfırlayın.

In [245]:
df["horsepower"].shape[0]

398

In [246]:
df.nlargest(398,"horsepower")

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
116,16.0,8,400.0,230.0,4278,9.5,73,1,pontiac grand prix
95,12.0,8,455.0,225.0,4951,11.0,73,1,buick electra 225 custom
13,14.0,8,455.0,225.0,3086,10.0,70,1,buick estate wagon (sw)
8,14.0,8,455.0,225.0,4425,10.0,70,1,pontiac catalina
6,14.0,8,454.0,220.0,4354,9.0,70,1,chevrolet impala
...,...,...,...,...,...,...,...,...,...
126,21.0,6,200.0,NaN,2875,17.0,74,1,ford maverick
330,40.9,4,85.0,NaN,1835,17.3,80,2,renault lecar deluxe
336,23.6,4,140.0,NaN,2905,14.3,80,1,ford mustang cobra
354,34.5,4,100.0,NaN,2320,15.8,81,2,renault 18i
374,23.0,4,151.0,NaN,3035,20.5,82,1,amc concord dl

In [247]:
#8) Elinizdeki df'den en küçük 5 acceralation'a sahip olan arabaları getirin.

In [248]:
df.nsmallest(5,"acceleration")

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
11,14.0,8,340.0,160.0,3609,8.0,70,1,plymouth 'cuda 340
7,14.0,8,440.0,215.0,4312,8.5,70,1,plymouth fury iii
9,15.0,8,390.0,190.0,3850,8.5,70,1,amc ambassador dpl
6,14.0,8,454.0,220.0,4354,9.0,70,1,chevrolet impala
12,15.0,8,400.0,150.0,3761,9.5,70,1,chevrolet monte carlo

In [249]:
#--- CIA_Country_Facts.csv dosyasını okuyun ve yeniden df değişkenine atayın.(Artık eski df ile işimiz kalmadığı için aynı ismi verebiliriz.)

In [250]:
df=pd.read_csv("CIA_Country_Facts.csv")

In [251]:
df.head()

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,48.0,0.00,23.06,163.07,700.0,36.0,3.2,12.13,0.22,87.65,1.0,46.60,20.34,0.380,0.240,0.380
1,Albania,EASTERN EUROPE,3581655,28748,124.6,1.26,-4.93,21.52,4500.0,86.5,71.2,21.09,4.42,74.49,3.0,15.11,5.22,0.232,0.188,0.579
2,Algeria,NORTHERN AFRICA,32930091,2381740,13.8,0.04,-0.39,31.00,6000.0,70.0,78.1,3.22,0.25,96.53,1.0,17.14,4.61,0.101,0.600,0.298
3,American Samoa,OCEANIA,57794,199,290.4,58.29,-20.71,9.27,8000.0,97.0,259.5,10.00,15.00,75.00,2.0,22.46,3.27,NaN,NaN,NaN
4,Andorra,WESTERN EUROPE,71201,468,152.1,0.00,6.60,4.05,19000.0,100.0,497.2,2.22,0.00,97.78,3.0,8.71,6.25,NaN,NaN,NaN

In [252]:
#9) Elimizdeki CIA'in ülkeler hakkında topladığı basit açık kaynak verileri df'inde kaç ülkenin verisi olduğunu bulun.

In [253]:
df["Country"].shape[0]

227

In [254]:
#10) Elimizdeki sütunlardan hangilerinde kaçar tane nan veri olduğunu bulun.

In [255]:
df.isna().sum()

Country                                0
Region                                 0
Population                             0
Area (sq. mi.)                         0
Pop. Density (per sq. mi.)             0
Coastline (coast/area ratio)           0
Net migration                          3
Infant mortality (per 1000 births)     3
GDP ($ per capita)                     1
Literacy (%)                          18
Phones (per 1000)                      4
Arable (%)                             2
Crops (%)                              2
Other (%)                              2
Climate                               22
Birthrate                              3
Deathrate                              4
Agriculture                           15
Industry                              16
Service                               15
dtype: int64

In [256]:
df.columns.value_counts().sum()

20

In [257]:
df.shape[0]

227

In [258]:
#11) Elimizde tamamen nan değerlerden oluşan bir satır varsa o satırı düşürün.(Tamamen nan değerlerden oluşan bir satır olup olmadığını, herhangi bir satırın düşüp düşmediğini kontrol edin)

In [259]:
df.dropna(how="all")

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,48.0,0.00,23.06,163.07,700.0,36.0,3.2,12.13,0.22,87.65,1.0,46.60,20.34,0.380,0.240,0.380
1,Albania,EASTERN EUROPE,3581655,28748,124.6,1.26,-4.93,21.52,4500.0,86.5,71.2,21.09,4.42,74.49,3.0,15.11,5.22,0.232,0.188,0.579
2,Algeria,NORTHERN AFRICA,32930091,2381740,13.8,0.04,-0.39,31.00,6000.0,70.0,78.1,3.22,0.25,96.53,1.0,17.14,4.61,0.101,0.600,0.298
3,American Samoa,OCEANIA,57794,199,290.4,58.29,-20.71,9.27,8000.0,97.0,259.5,10.00,15.00,75.00,2.0,22.46,3.27,NaN,NaN,NaN
4,Andorra,WESTERN EUROPE,71201,468,152.1,0.00,6.60,4.05,19000.0,100.0,497.2,2.22,0.00,97.78,3.0,8.71,6.25,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222,West Bank,NEAR EAST,2460492,5860,419.9,0.00,2.98,19.62,800.0,NaN,145.2,16.90,18.97,64.13,3.0,31.67,3.92,0.090,0.280,0.630
223,Western Sahara,NORTHERN AFRICA,273008,266000,1.0,0.42,NaN,NaN,NaN,NaN,NaN,0.02,0.00,99.98,1.0,NaN,NaN,NaN,NaN,0.400
224,Yemen,NEAR EAST,21456188,527970,40.6,0.36,0.00,61.50,800.0,50.2,37.2,2.78,0.24,96.98,1.0,42.89,8.30,0.135,0.472,0.393
225,Zambia,SUB-SAHARAN AFRICA,11502010,752614,15.3,0.00,0.00,88.29,800.0,80.6,8.2,7.08,0.03,92.90,2.0,41.00,19.93,0.220,0.290,0.489
226,Zimbabwe,SUB-SAHARAN AFRICA,12236805,390580,31.3,0.00,0.00,67.69,1900.0,90.7,26.8,8.32,0.34,91.34,2.0,28.01,21.84,0.179,0.243,0.579

In [260]:
#12) Her Bölgedeki(Region) toplam kişi sayısına bakın.

In [261]:
df["Population"].value_counts()

31056997    1
8648248     1
13287       1
28287147    1
16491461    1
           ..
10688058    1
56361       1
89703       1
452776      1
12236805    1
Name: Population, Length: 227, dtype: int64

In [262]:
#13) Climate değerleri nan olanlar, tüm df'in ortalama climate değeriyle doldurun.(Gerçek bir analiz yapıyor olsaydık bu çok mantıklı bir hareket olmazdı, belki her bulunduğu bölgenin ortalama climate değeriyle doldurmak daha mantıklı bir hareket olurdu. Fakat şimdilik bu kadar kasmaya gerek yok. nan değerleri tüm climate ortalamalarıyla doldursanız yeterli.)

In [263]:
df["Climate"].fillna(df["Climate"].mean(),inplace=True)

In [264]:
df["Climate"].sample(10)

56     2.0
222    3.0
75     3.0
25     4.0
30     3.0
207    1.0
166    1.0
3      2.0
14     2.0
191    2.0
Name: Climate, dtype: float64

In [265]:
#14) Bölgeler ve Ülkelere göre gruplama yapın ardından Doğum miktarlarına bakın.

In [266]:
df.head()

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,48.0,0.00,23.06,163.07,700.0,36.0,3.2,12.13,0.22,87.65,1.0,46.60,20.34,0.380,0.240,0.380
1,Albania,EASTERN EUROPE,3581655,28748,124.6,1.26,-4.93,21.52,4500.0,86.5,71.2,21.09,4.42,74.49,3.0,15.11,5.22,0.232,0.188,0.579
2,Algeria,NORTHERN AFRICA,32930091,2381740,13.8,0.04,-0.39,31.00,6000.0,70.0,78.1,3.22,0.25,96.53,1.0,17.14,4.61,0.101,0.600,0.298
3,American Samoa,OCEANIA,57794,199,290.4,58.29,-20.71,9.27,8000.0,97.0,259.5,10.00,15.00,75.00,2.0,22.46,3.27,NaN,NaN,NaN
4,Andorra,WESTERN EUROPE,71201,468,152.1,0.00,6.60,4.05,19000.0,100.0,497.2,2.22,0.00,97.78,3.0,8.71,6.25,NaN,NaN,NaN

In [267]:
df1=df.groupby(["Country","Region"])["Birthrate"]

In [268]:
df.sum()

Country                               AfghanistanAlbaniaAlgeriaAmerican SamoaAndorra...
Region                                ASIA (EX. NEAR EAST)         EASTERN EUROPE   ...
Population                                                                   6524044551
Area (sq. mi.)                                                                135797519
Pop. Density (per sq. mi.)                                                      86043.7
Coastline (coast/area ratio)                                                    4804.53
Net migration                                                                      8.54
Infant mortality (per 1000 births)                                              7953.56
GDP ($ per capita)                                                            2189900.0
Literacy (%)                                                                    17313.2
Phones (per 1000)                                                               52641.7
Arable (%)                                                                      3104.35
Crops (%)                                                                       1026.95
Other (%)                                                                      18368.62
Climate                                                                      485.558537
Birthrate                                                                        4953.7
Deathrate                                                                       2060.82
Agriculture                                                                      31.979
Industry                                                                         59.652
Service                                                                          119.84
dtype: object

In [269]:
#15) Veriyi istediğiniz şekilde inceleyerek bu zamana kadar öğrendiğiniz bilgilerle anlamlı 5 adet yargı cümlesi çıkartın. ( En çok insan Asya kıtasında yaşıyor, En çok insan Afrinın sahralarında ölüyor, Ortalama en yüksek telefon sahibi Kuzey Amerikada, En çok okuma yazma oranına sahip ülkeler Baltık ülkeleri vb.)

In [270]:
df.nsmallest(1,"Population")

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
174,St Pierre & Miquelon,NORTHERN AMERICA,7026,242,29.0,49.59,-4.86,7.54,6900.0,99.0,683.2,13.04,0.0,86.96,2.139024,13.52,6.83,NaN,NaN,NaN

In [ ]:
#En küçük popülasyon Northern Americadadır.

In [272]:
df.nsmallest(1,"Deathrate")

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
153,N. Mariana Islands,OCEANIA,82459,477,172.9,310.69,9.61,7.11,12500.0,97.0,254.7,13.04,4.35,82.61,2.0,19.43,2.29,NaN,NaN,NaN

In [ ]:
#En az ölüm oranı Oceaniadadır.

In [273]:
df.nsmallest(1,"Phones (per 1000)")

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
45,"Congo, Dem. Rep.",SUB-SAHARAN AFRICA,62660551,2345410,26.7,0.0,0.0,94.69,700.0,65.5,0.2,2.96,0.52,96.52,2.0,43.69,13.27,0.55,0.11,0.34

In [ ]:
#En düşük telefon kullanımı Sub-Saharan Africadadır.